---
extend: '@vue/cli-service/generator/template/src/App.vue'
replace:
  - !!js/regexp /<div id="app">/
  - !!js/regexp /import HelloWorld from '\.\/components\/HelloWorld\.vue'/
  - !!js/regexp "/components: {/"
---

<%# REPLACE %>
  <div id="app">
    <ApiExample />
<%# END_REPLACE %>

<%# REPLACE %>
import ApiExample from './components/ApiExample.vue'
import HelloWorld from './components/HelloWorld.vue'
<%# END_REPLACE %>

<%# REPLACE %>
  components: {
    ApiExample,
<%# END_REPLACE %>