<script>
import api from 'api';

export default {
  data() {
    return {
      users: []
    }
  },
  async mounted() {
    this.users = await api.getUsers();
  }  
}
</script>

<template>
  <div>
    <h1>API Example</h1>

    <ul>
      <li v-for="user in users" :key="user.id">{{ user.name }}</li>
    </ul>
  </div>
</template>

